<table class="events">
    <thead>
        <tr>
            <th class="category"></th>
            <th class="title">Title</th>
            <th class="location">Location</th>
            <th class="time">Time</th>
            <th class="price">Price</th>
            <th class="actions">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="event in events" ng-click=""><!-- TODO: Add function call -->
            <td class="category"><img ng-src="{{event.categoryID | categoryImageSrc}}"></td>
            <td class="title">{{event.title}}</td>
            <td class="location">{{event.placeName}}</td>
            <td class="time">{{event.startAt | date:"yyyy-MM-dd HH:mm"}}</td>
            <td class="price">{{event.price | number}}</td>
            <td class="actions"></td>
        </tr>
    </tbody>
</table>