<h3>Dine arrangementer</h3>

<div class="input-group">
  <div class="col-lg-5">
    <button ng-click="createEvent()" class="btn btn-md btn-info">
      <span class="glyphicon glyphicon-plus"></span> Legg til arrangement
    </button>
  </div>
  <div class="col-lg-6">
    <div class="form-group-right">
      <input ng-model="searchText" type="text" class="form-control" placeholder="Søk">
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Tittel</th><th>Tid</th><th>Sted</th><th>Endre</th><th>Slett</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="event in userEvents = (events | orderBy : 'shows[0].startDate' | filter: searchText)">
      <td>
        {{event.title | limitTo: 30}}
      </td>
      <td>
        {{event.shows[0].startDate | date:'dd/MM/yy HH:mm'}}
      </td>
      <td>
        {{event.venue.name}}
      </td>
      <td>
        <button ng-click="editEvent(event._id)" class="btn btn-xs btn-info">Endre</button>
      </td>
       <td>
        <button ng-click="deleteEvent(event._id)" class="btn btn-xs btn-danger">Slett</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
